<div class="row">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Users</h3>
        <p class="card-text">View, add, and edit users in the system.</p>

      </div>
      <div class="card-footer">
        <a [routerLink]="['users']" class="btn btn-primary">Manage</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Departments</h3>
        <p class="card-text">View, add, and edit departments in the system.</p>

      </div>
      <div class="card-footer">
        <button class="btn btn-primary" [disabled]="true">Manage</button>
      </div>
    </div>
  </div>
</div>