<div class="card mt-3">
  <div class="card-body">
    <h3 class="card-title">
      {{user.firstName}} {{user.lastName}}
    </h3>
    <div class="card-text">
      {{user.department}}
    </div>
    <hr>
    <div class="clearfix">
      <div class="float-left">
        <a *ngIf="!readOnly" [routerLink]="['view', user.id]" class="card-link">View</a>
        <a [routerLink]="['/', 'users', 'edit', user.id]" class="card-link">Edit</a>
      </div>
      <button class="btn btn-danger float-right" (click)="deleteUser()">Delete</button>
    </div>
  </div>
  <div class="card-footer text-muted">EmployeeId: {{user.employeeId}}</div>
</div>