:host .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

:host .card-text {
    background-color: cadetblue;
    border-radius: 12px;
    max-width: 125px;
    padding-left: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: wheat;
}